<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mypage.user.dao.UserLabelMapper">
    <resultMap id="BaseResultMap" type="com.mp.mypage.user.entity.UserLabel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="label_content" jdbcType="VARCHAR" property="labelContent"/>
        <result column="label_type" jdbcType="TINYINT" property="labelType"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, label_content, label_type
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_label
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from user_label
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.mp.mypage.user.entity.UserLabel">
        insert into user_label (id, user_id, label_content,
                                label_type)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{labelContent,jdbcType=VARCHAR},
                #{labelType,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.mp.mypage.user.entity.UserLabel">
        insert into user_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="labelContent != null">
                label_content,
            </if>
            <if test="labelType != null">
                label_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="labelContent != null">
                #{labelContent,jdbcType=VARCHAR},
            </if>
            <if test="labelType != null">
                #{labelType,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mp.mypage.user.entity.UserLabel">
        update user_label
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="labelContent != null">
                label_content = #{labelContent,jdbcType=VARCHAR},
            </if>
            <if test="labelType != null">
                label_type = #{labelType,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mp.mypage.user.entity.UserLabel">
        update user_label
        set user_id       = #{userId,jdbcType=BIGINT},
            label_content = #{labelContent,jdbcType=VARCHAR},
            label_type    = #{labelType,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from user_label;
    </select>
</mapper>