<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mypage.user.dao.UserFollowerMapper">
    <resultMap id="BaseResultMap" type="com.mp.mypage.user.entity.UserFollower">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="subject_user_id" jdbcType="BIGINT" property="subjectUserId"/>
        <result column="object_user_id" jdbcType="BIGINT" property="objectUserId"/>
        <result column="user_group_id" jdbcType="BIGINT" property="userGroupId"/>
        <result column="follow_status" jdbcType="BIT" property="followStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, subject_user_id, object_user_id, user_group_id, follow_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_follower
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from user_follower
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByUserIdPair">
        delete
        from user_follower
        where subject_user_id = #{srcId,jdbcType=BIGINT} AND
              object_user_id = #{destId, jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.mp.mypage.user.entity.UserFollower">
        insert into user_follower (id, subject_user_id, object_user_id,
                                   user_group_id, follow_status)
        values (#{id,jdbcType=BIGINT}, #{subjectUserId,jdbcType=BIGINT}, #{objectUserId,jdbcType=BIGINT},
                #{userGroupId,jdbcType=BIGINT}, #{followStatus,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.mp.mypage.user.entity.UserFollower">
        insert into user_follower
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="subjectUserId != null">
                subject_user_id,
            </if>
            <if test="objectUserId != null">
                object_user_id,
            </if>
            <if test="userGroupId != null">
                user_group_id,
            </if>
            <if test="followStatus != null">
                follow_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="subjectUserId != null">
                #{subjectUserId,jdbcType=BIGINT},
            </if>
            <if test="objectUserId != null">
                #{objectUserId,jdbcType=BIGINT},
            </if>
            <if test="userGroupId != null">
                #{userGroupId,jdbcType=BIGINT},
            </if>
            <if test="followStatus != null">
                #{followStatus,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mp.mypage.user.entity.UserFollower">
        update user_follower
        <set>
            <if test="subjectUserId != null">
                subject_user_id = #{subjectUserId,jdbcType=BIGINT},
            </if>
            <if test="objectUserId != null">
                object_user_id = #{objectUserId,jdbcType=BIGINT},
            </if>
            <if test="userGroupId != null">
                user_group_id = #{userGroupId,jdbcType=BIGINT},
            </if>
            <if test="followStatus != null">
                follow_status = #{followStatus,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mp.mypage.user.entity.UserFollower">
        update user_follower
        set subject_user_id = #{subjectUserId,jdbcType=BIGINT},
            object_user_id  = #{objectUserId,jdbcType=BIGINT},
            user_group_id   = #{userGroupId,jdbcType=BIGINT},
            follow_status   = #{followStatus,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByUserIdPairSelective" parameterType="com.mp.mypage.user.entity.UserFollower">
        update user_follower
        <set>
            <if test="userGroupId != null">
                user_group_id = #{userGroupId,jdbcType=BIGINT},
            </if>
            <if test="followStatus != null">
                follow_status = #{followStatus,jdbcType=BIT},
            </if>
        </set>
        where subject_user_id = #{subjectUserId, jdbcType=BIGINT} AND
              object_user_id = #{objectUserId, jdbcType=BIGINT}
    </update>

    <select id="selectAllFollowerByUserId" parameterType="java.lang.Long" resultMap="UserSimpleInfoDTOResultMap">
        select
            ub.id as uid,
            ub.username as username,
            ui.head_img as head_img
        from user_follower uf
                 left outer join user_base ub on uf.subject_user_id = ub.id
                 left outer join user_info ui on ub.id = ui.id
        where object_user_id = #{destId, jdbcType=BIGINT}
    </select>

    <select id="selectAllIdolByGroupId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select object_user_id
        from user_follower
        where user_group_id = #{groupId, jdbcType=BIGINT}
    </select>

    <select id="selectByUserPair" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from user_follower
        where object_user_id = #{objectUserId, jdbcType=BIGINT} AND
              subject_user_id = #{subjectUserId, jdbcType=BIGINT}
    </select>

    <resultMap id="UserSimpleInfoDTOResultMap" type="com.mp.mypage.user.dto.UserSimpleInfoDTO">
        <id column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="head_img" jdbcType="VARCHAR" property="headImg"/>
    </resultMap>

    <resultMap id="UserIdolDTOResultMap" type="com.mp.mypage.user.dto.UserIdolDTO">
        <id column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <collection property="users" ofType="com.mp.mypage.user.dto.UserSimpleInfoDTO" resultMap="UserSimpleInfoDTOResultMap"/>
    </resultMap>

    <select id="selectAllIdolByUserId" resultMap="UserIdolDTOResultMap">
        select
            uf.user_group_id as group_id,
            ug.group_name as group_name,
            ub.id as uid,
            ub.username as username,
            ui.head_img as head_img
        from user_follower uf
            left outer join user_group ug on uf.user_group_id = ug.id
            left outer join user_base ub on uf.object_user_id = ub.id
            left outer join user_info ui on ub.id = ui.id
        where uf.subject_user_id = #{srcId, jdbcType=BIGINT}
    </select>


</mapper>