<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mypage.notify.dao.NotifySubcriptionMapper">
  <resultMap id="BaseResultMap" type="com.mp.mypage.notify.entity.NotifySubcription">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="subject_type" jdbcType="INTEGER" property="subjectType" />
    <result column="subject_id" jdbcType="BIGINT" property="subjectId" />
    <result column="subject_action" jdbcType="INTEGER" property="subjectAction" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, subject_type, subject_id, subject_action, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notify_subcription
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from notify_subcription
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mp.mypage.notify.entity.NotifySubcription">
    insert into notify_subcription (id, user_id, subject_type, 
      subject_id, subject_action, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{subjectType,jdbcType=INTEGER}, 
      #{subjectId,jdbcType=BIGINT}, #{subjectAction,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mp.mypage.notify.entity.NotifySubcription">
    insert into notify_subcription
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="subjectType != null">
        subject_type,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="subjectAction != null">
        subject_action,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="subjectType != null">
        #{subjectType,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="subjectAction != null">
        #{subjectAction,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mp.mypage.notify.entity.NotifySubcription">
    update notify_subcription
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="subjectType != null">
        subject_type = #{subjectType,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="subjectAction != null">
        subject_action = #{subjectAction,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mp.mypage.notify.entity.NotifySubcription">
    update notify_subcription
    set user_id = #{userId,jdbcType=BIGINT},
      subject_type = #{subjectType,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=BIGINT},
      subject_action = #{subjectAction,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>